* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

/* #idle_inhibitor { */
/*     padding-left: 7px; */
/*     padding-right: 10px; */
/* } */

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#idle_inhibitor,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#language,
#cpu,
#memory,
#temperature,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#cpu,#memory,#temperature {
    color: #d87070;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
/* * { */
/*   border: none; */
/*   border-radius: 0; */
/*   font-family: JetBrainsMono Nerd Font; */
/*   font-size: 14px; */
/*   min-height: 0; */
/* } */
/**/
/* window#waybar { */
/*   background: transparent; */
/*   color: white; */
/* } */
/**/
/* #window { */
/*   background-color: #24283b; */
/*   margin: 5px; */
/*   padding: 5px; */
/*   margin-left: 10px; */
/*   border-radius: 5px; */
/* } */
/* window#waybar.empty #window { */
/*   background-color: transparent; */
/*   color: transparent; */
/* } */
/**/
/* #workspaces { */
/*   background-color: #24283b; */
/*   margin: 5px; */
/*   margin-left: 10px; */
/*   border-radius: 5px; */
/* } */
/* #workspaces button { */
/*   padding: 5px 10px; */
/*   color: #c0caf5; */
/* } */
/**/
/* #workspaces button.active { */
/*   color: #24283b; */
/*   background-color: #7aa2f7; */
/*   border-radius: 5px; */
/* } */
/**/
/* #workspaces button:hover { */
/*   background-color: #7dcfff; */
/*   color: #24283b; */
/*   border-radius: 5px; */
/* } */
/**/
/* #custom-date, */
/* #clock, */
/* #battery, */
/* #pulseaudio, */
/* #memory, */
/* #cpu, */
/* #network { */
/*   background-color: #24283b; */
/*   padding: 5px 10px; */
/*   margin: 5px 0px; */
/* } */
/**/
/* #custom-date { */
/*   color: #7dcfff; */
/* } */
/**/
/* #custom-power { */
/*   color: #24283b; */
/*   background-color: #db4b4b; */
/*   border-radius: 5px; */
/*   margin-right: 10px; */
/*   margin-top: 5px; */
/*   margin-bottom: 5px; */
/*   margin-left: 0px; */
/*   padding: 5px 10px; */
/* } */
/**/
/* #tray { */
/*   background-color: #24283b; */
/*   margin: 5px 5px; */
/*   padding: 0px 5px; */
/*   border-radius: 10px; */
/* } */
/* #cpu { */
/*   color: #ce86ff; */
/**/
/* } */
/* #memory { */
/*   color: #a0bd00; */
/* } */
/**/
/* #clock { */
/*   color: #b48ead; */
/*   margin: 5px 5px; */
/*   padding: 0px 5px; */
/*   border-radius: 10px; */
/* } */
/**/
/* #battery { */
/*   color: #9ece6a; */
/*   border-radius: 0px 5px 5px 0px; */
/*   margin-right: 10px; */
/* } */
/**/
/* #battery.charging { */
/*   color: #9ece6a; */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*   background-color: #f7768e; */
/*   color: #24283b; */
/*   border-radius: 5px 5px 5px 5px; */
/* } */
/**/
/* #backlight { */
/*   background-color: #24283b; */
/*   color: #db4b4b; */
/*   border-radius: 0px 0px 0px 0px; */
/*   margin: 5px; */
/*   margin-left: 0px; */
/*   margin-right: 0px; */
/*   padding: 0px 0px; */
/* } */
/**/
/* #network { */
/*   color: #f7768e; */
/*   border-radius: 5px 0px 0px 5px; */
/*   margin-right: 0px; */
/* } */
/**/
/* #pulseaudio { */
/*   color: #e0af68; */
/*   border-radius: 5px 0px 0px 5px; */
/*   margin-left: -2px; */
/* } */
/**/
/* #pulseaudio.muted { */
/*   background-color: #e0af68; */
/*   color: #24283b; */
/*   border-radius: 5px 5px 5px 5px; */
/*   margin-left: -2px; */
/* } */
